
------------------------------------------------------------------------------------------------------------------------------
</p>
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-07-00
<p>    
------------------------------------------------------------------------------------------------------------------------------
                            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-167'>ATLASDBE-167</a>] -         &quot;external changes&quot; dialogue appear 
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-190'>ATLASDBE-190</a>] -         Copying an object into a new one fails but object is half-way created
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-192'>ATLASDBE-192</a>] -         Cannot set attribute after invalidation failure When creating an object
</li>
</ul>
                
<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-98'>ATLASDBE-98</a>] -         log a message about commited files
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-113'>ATLASDBE-113</a>] -         drag&amp;drop objects from multiple selection in the tree
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-154'>ATLASDBE-154</a>] -         files list for a new object
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-194'>ATLASDBE-194</a>] -         Resource files need not be generated on every build
</li>
</ul>
                                                                                                                    
------------------------------------------------------------------------------------------------------------------------------
</p>
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-06-00
<p>    
------------------------------------------------------------------------------------------------------------------------------
                                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-129'>ATLASDBE-129</a>] -         issues with Value of Variable class
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-157'>ATLASDBE-157</a>] -         Confusing message when a file is read-only
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-165'>ATLASDBE-165</a>] -         Changing value in object editor does not directly make it visible in a table
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-170'>ATLASDBE-170</a>] -         Model is not rebuilt when external changes are applied
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-179'>ATLASDBE-179</a>] -         Cannot add same computer in ComputerSet
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-180'>ATLASDBE-180</a>] -         Init value reported when it should not
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-181'>ATLASDBE-181</a>] -         SEGV when removing element from attribute list
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-182'>ATLASDBE-182</a>] -         Dbe cannot commit changes on read/write resources
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-184'>ATLASDBE-184</a>] -         DBE takes too long to retrieve data from RDB server at P1
</li>
</ul>
                                    
<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-125'>ATLASDBE-125</a>] -         Details of error are hidden when commit failed
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-168'>ATLASDBE-168</a>] -         The internal dbe version should be accessible to the user e.g. &quot;about&quot;
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-183'>ATLASDBE-183</a>] -         Labels should be selectable 
</li>
</ul>
                                                                                            

------------------------------------------------------------------------------------------------------------------------------
</p>
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-05-02
<p>    
------------------------------------------------------------------------------------------------------------------------------
                                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-155'>ATLASDBE-155</a>] -         Cannot delete relation in edit window
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-161'>ATLASDBE-161</a>] -         Cannot update attribute
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-173'>ATLASDBE-173</a>] -         Crash when removing attribute from list 
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-174'>ATLASDBE-174</a>] -         updating an empty relationship fails
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-175'>ATLASDBE-175</a>] -         Crash in table batch changes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-176'>ATLASDBE-176</a>] -         No matching objects in batch change
</li>
</ul>
                                                                                                                    
------------------------------------------------------------------------------------------------------------------------------
</p>
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-05-01
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>                            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-166'>ATLASDBE-166</a>] -         Partition and Resources View not properly built 
</li>
</ul>

<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-05-00
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>
                            
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-118'>ATLASDBE-118</a>] -         Undo stack is invalidated when deleting an object previously updated
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-152'>ATLASDBE-152</a>] -         Bottom panel - File tab - files loaded multiple times
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-163'>ATLASDBE-163</a>] -         dbe crashes with ATLAS partition
</li>
</ul>
                                                                                                                    
<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-133'>ATLASDBE-133</a>] -         Creation/renaming/moving and object should be handled uniformly
</li>
</ul>

<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>

        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-04-00
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>                 
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-121'>ATLASDBE-121</a>] -         Undoing a deletion sometimes fails with object is not found
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-130'>ATLASDBE-130</a>] -         Loading the DB from file does not load segments and partition view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-136'>ATLASDBE-136</a>] -         Pressing cancel on open database dialogue displays error
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-141'>ATLASDBE-141</a>] -         Reapplying internal changes after external changes causes undo stack to be invalidated
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-147'>ATLASDBE-147</a>] -         Object renaming can cause the application to crash
</li>
</ul>
                                    
<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-112'>ATLASDBE-112</a>] -         &quot;edit&quot; option from context menu in multiple selection
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-142'>ATLASDBE-142</a>] -         Table view must be colored
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-148'>ATLASDBE-148</a>] -         DBE does not have access to complete error reporting
</li>
</ul>

<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>  
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version db-02-03-04
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>  
                                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-138'>ATLASDBE-138</a>] -         dbe must show only one window for batch matched objects
</li>
</ul>
      
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>  
        Release Notes - DBE - The ATLAS TDAQ Configuration DB editor  - Version dbe-02-03-03
<p>    
------------------------------------------------------------------------------------------------------------------------------
</p>  
                                
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-18'>ATLASDBE-18</a>] -         &quot;Open Oracle DB&quot; never tested so far 
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-73'>ATLASDBE-73</a>] -         tree and table not on sync when searching objects
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-78'>ATLASDBE-78</a>] -         Adding additional attribute in multiline field does not work properly
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-84'>ATLASDBE-84</a>] -         Problems in Files tab
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-85'>ATLASDBE-85</a>] -         expanding object in the tree
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-88'>ATLASDBE-88</a>] -         DBE crashed when connecting to RDB_RW
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-102'>ATLASDBE-102</a>] -         Crash trying to edit not set relationship
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-104'>ATLASDBE-104</a>] -         Issues with D&amp;D
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-105'>ATLASDBE-105</a>] -         Missing icon for the rename button
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-106'>ATLASDBE-106</a>] -         Visual artifacts when filters are applied to the table view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-108'>ATLASDBE-108</a>] -         Problems during creation of new object
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-109'>ATLASDBE-109</a>] -         Selection of abstract classes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-110'>ATLASDBE-110</a>] -         dbe crashes if batch change is requested without having loaded a table
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-111'>ATLASDBE-111</a>] -         delete from context menu for multiple selection don&#39;t work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-114'>ATLASDBE-114</a>] -         is-not-null should not be enforced by the editor for any type
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-116'>ATLASDBE-116</a>] -         When an object is deleted from the tree or table view it should not reload the view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-119'>ATLASDBE-119</a>] -         Undeleting objects causes the application to crash sometimes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-124'>ATLASDBE-124</a>] -         Program crashes upon creation of new object
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-128'>ATLASDBE-128</a>] -         Cannot delete object when applying filter in Class view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-135'>ATLASDBE-135</a>] -         DBE Crashes when trying to move an object during creation
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-137'>ATLASDBE-137</a>] -         Cannot edit object after drag and drop in table view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-139'>ATLASDBE-139</a>] -         Impossible to eliminate a relation with 0..1 cardinality in table view
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-149'>ATLASDBE-149</a>] -         DBE: crashes when opening the ATLAS partition at P1
</li>
</ul>
                                    
<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-60'>ATLASDBE-60</a>] -         Comments on Object window
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-74'>ATLASDBE-74</a>] -         batch operation on a selected group
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-103'>ATLASDBE-103</a>] -         Handling failures in batch modifications
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-117'>ATLASDBE-117</a>] -         TableView must be set to single selection mode 
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-120'>ATLASDBE-120</a>] -         dbe must report only the reason given by the config layer in case of failure
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-123'>ATLASDBE-123</a>] -         Control of data model should be decoupled from GUI views
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-132'>ATLASDBE-132</a>] -         Messages generated from the application should be marshalled within the application
</li>
</ul>
                                                                                
<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-7'>ATLASDBE-7</a>] -         BatchChange slowness 
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-122'>ATLASDBE-122</a>] -         DBE source code needs to encapsulate classes in namespaces
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-131'>ATLASDBE-131</a>] -         Incrementally building the application just takes too long
</li>
<li>[<a href='https://its.cern.ch/jira/browse/ATLASDBE-134'>ATLASDBE-134</a>] -         All messages generated from DBE should be posted to message handler
</li>
</ul>
            
                                                                                            
